<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="user" class="com.practice.spring.User">
		<property name="name" value="Dheeraj"></property>
		<property name="address" ref="address" />
		<property name="contacts">
			<list>
				<ref bean="contact_1" />
				<ref bean="contact_2" />
			</list>
		</property>
	</bean>
	
	<bean id="contact_1" class="com.practice.spring.Contact">
		<property name="mobile" value="7207519669" />
		<property name="email" value="kdheeraj4995@gmail.com" />
	</bean>
	<bean id="contact_2" class="com.practice.spring.Contact">
		<property name="mobile" value="9553070752" />
		<property name="email" value="dheeraj1947@live.com" />
	</bean>
	<bean id="address" class="com.practice.spring.Address">
		<property name="City" value="Hyderabad" />
		<property name="Country" value="India" />
	</bean>
</beans>